<p>register-page works!</p>
<div class="register-form">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <div class="id-field">
        <label for="typeahead-basic">Enter Your UserID</label>
        <input type="text" formControlName="id" placeholder="id" required>
    </div>
      <div class="name-field">
        <label for="typeahead-basic">Enter Your Name</label>
        <input type="text" formControlName="name" placeholder="name" required>

      </div>
      <div class="username-field">
        <label for="typeahead-basic">Enter Your Username</label>
        <input type="text" formControlName="username" placeholder="username" required>

      </div>
      <div class="password-field">
        <label for="typeahead-basic">Enter Your Password</label>
        <input type="password" formControlName="password" placeholder="Password" required>
      </div>
      <div class="register-button">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>


  </form>

         <div class="display-all-users">

              <ol *ngFor="let users of UserArray">
               <li>{{users.id}}=={{users.name}}</li>
              </ol>

         </div>
<div class="red-round">
   {{count}}
</div>

<div class="button">
  <button (click)="increment()">increment</button>
  <button (click)="desc()">desc</button>
  <button (click)="gotoRegisterpage()">register</button>
</div>
</div>
