<p>register-page works!</p>
<div class="register-form">

  <form (ngSubmit)="onSubmit()">
    
    <div class="id-field">
        <label for="typeahead-basic">Enter Your UserID</label>
        <input id="typeahead-basic" type="text" class="form-control"/>
    </div>
      <div class="name-field">
        <label for="typeahead-basic">Enter Your Name</label>
        <input id="typeahead-basic" type="text" class="form-control"/>
      </div>
      <div class="email-field">
        <label for="typeahead-basic">Enter Your Email</label>
        <input id="typeahead-basic" type="email" class="form-control"/>
      </div>
      <div class="username-field">
        <label for="typeahead-basic">Enter Your Username</label>
        <input id="typeahead-basic" type="text" class="form-control"/>
      </div>
      <div class="password-field">
        <label for="typeahead-basic">Enter Your Password</label>
        <input id="typeahead-basic" type="password" class="form-control"/>
      </div>
      <div class="register-button">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>

  </form>

</div>